*{
    margin:0 ;
padding: 0;
}
body{
    background-color: black;
  
    padding:10px;
}
.container{
    background-color: black;
    border: 2px solid grey;
    
    text-align: center;
    color: white;
    height: 30vh;
    width: 100%;
    padding: 40px; 
      
}
.result{
    color:white;
    margin-top: 30px;
    font-size: 19px;
    display: none;
}
.check{
    font-size:20px;
    margin-top: 55px;
}
#password{
    font-size: medium;
    height:25px;
    width:200px;
    color: grey;
}